# Node modules
node_modules/

# Environnement
.env
.env.prod
.env.dev

# Fichiers de log
*.log

# Dossiers de build
/dist/
/build/

# Dossier de dépendances spécifiques à un éditeur (par exemple VSCode)
.vscode/

# Cache de npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers de test temporaire
coverage/

# Dossier de dépendances spécifiques à un autre éditeur
.idea/

# Dossier des artefacts (si tu utilises des outils de bundling comme Webpack ou d'autres)
/dist/
